
.top, .about{
    background-image: url("/assets/girl-1125318_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.top{
    height: 40em;
    border-width: 5px;
    border-style: double;
    border-color: white;
    
}

.top-bar,ul{
    background-color: black;
    opacity: 0.7;
    }

#siteid{
font-family: 'Great Vibes', cursive;
    font-size: 3em;
}


#fontage{
    font-family: 'Poiret One', cursive;
}

/*about stylings*/

.about > h1 {
    font-family: 'Megrim', cursive;
    color: white;
    margin-top: 2em;
    text-decoration: line-through;
}
.about > p {
    font-size: 2em;
     font-family: 'Poiret One', cursive;
    color: white;
}
